@model IEnumerable<Gulfstream>



<br />
<br />
<br />

<h2>Gulfstream Database</h2>
<br />
<br />

<div style="display: block">
    <a href="/Gulfstream/InsertGulfstream/">Create a New Gulfstream</a>
</div>

<br />
<br />
<br />

<table class="table">
    <tr>
        <th>ID</th>
        <th>Manufacturer</th>
        <th>Airframe</th>
        <th>Aircraft Type</th>
        <th>Crew</th>
        <th>Seating Capacity</th>
        <th>Length</th>
        <th>Wingspan</th>
        <th>Height</th>
        <th>Powerplant</th>
        <th>Max Speed</th>
        <th>Distance/Range</th>
        <th>Ceiling</th>
    </tr>

    @foreach (var plane in @Model)
    {
        <tr>
            <td><a href=/Gulfstream/ViewGulfstream/@plane.GulfstreamID>@plane.GulfstreamID</a></td>
            <td>@plane.Manufacturer</td>
            <td>@plane.Airframe</td>
            <td>@plane.Aircraft_Type</td>
            <td>@plane.Crew</td>
            <td>@plane.Seating_Capacity</td>
            <td>@plane.Length</td>
            <td>@plane.Wingspan</td>
            <td>@plane.Height</td>
            <td>@plane.Powerplant</td>
            <td>@plane.Max_Speed</td>
            <td>@plane.Distance_Range</td>
            <td>@plane.Ceiling</td>
        </tr>
    }

</table>

<br />
<br />
<br />